*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root{
    --bg-color: rgb(7, 0, 19);
    --second-bg-color: #131313;
    --text-color: #fff;
    --main: #7d0cc9;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.425);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px var(--main);
}

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main);
    border-bottom: 3px solid var(--main);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main);
    display: none;
}

.trilho{
    width: 50px;
    height: 25px;
    background-color: #4d4d4d;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
}

.trilho .indicador{
    width: 25px;
    height: 25px;
    background-color: #000;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

.trilho.dark{
    background-color: #c3c3c3;
}

.trilho.dark .indicador{
    left: 24px;
    background-color: #fff;
}

body.dark{
    background-color: #e4e4e4;
    color: #000;
    transition: .5s;
}

.skills-box.dark{
    background-color: #fff;
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

span{
    color: var(--main);
}
.logo span{
    color: var(--main);
}

.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    top: 3rem;
    width: 28vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main),
                0 0 50px var(--main),
                0 0 100px var(--main);
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(.5px);
    box-shadow: 0 0 25px var(--main);
    background-color: var(--main);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main);
    box-shadow: 0 0 25px var(--main);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn.dark{
    color: #fff;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main);
}

.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main);
    border: 2px solid var(--main);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main);
    background-color: var(--main);
    color: black;
}

#btnb.dark{
    color: var(--main);
    background-color: #fff;
}

.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: " Web Develop";
    color: var(--main);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

.text-animation span.dark::after{
    background-color: #e4e4e4;
    border-left: 3px solid #fff;
    transition: .5s;
}

.heading{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 2;
}

.text-cursor{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.text-cursor span{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    height: 5%;
    animation: cursor 0.6s infinite;
}

.text-cursor span.dark{
    background-color: #fff;
}

.timeline-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
} 

.timeline-content{
    background-color: black;
    border: 3px solid var(--main);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content.dark{
    background-color: #fff;
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main);
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main);
}

@keyframes cursor{
    to{
        border-left: 2px solid var(--main);
    }
}
@keyframes words{
    0%,
    20%{
        content: " Frontend Designer";
    }
    21%,
    40%{
        content: " Web designer";
    }
    41%,
    60%{
        content: " UI / UX Designer";
    }
    61%,
    80%{
        content: " Web Developer";
    }
    81%,
    100%{
        content: " Software Tester";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}
.skills h2{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 2;
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 4.5rem;
}
.skills-box{
    background-color: black;
    border: 3px solid var(--main);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.skills-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main);
}
.skills-box .skills-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: baseline;
    padding: 5rem 5rem;
}
.skills-info h4{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
}
.skills-info p{
    font-size: 1.2rem;
    font-weight: 600;
    max-height: 2000px;
    line-height: 1.6;
    margin: auto;
}

.contact h2{
    margin-bottom: 3rem;
    color: #fff;
}
.contact .dark{
    color: black;
}

.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main);
    margin: 1.5rem 0;
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-bg-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main);
}
.footer .social a{
    font-size: 25px;
    color: var(--main);
    border: 2px solid var(--main);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main);
    color: black;
    box-shadow: 0 0 25px var(--main);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: #fff;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--main);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}

@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .skills-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
}
@media(max-width:991px  ){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% rem;
    }
    .timeline-items::before{
        left:7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
    .skills{
        padding-bottom: 7rem;
    }
    .projects .wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    .contact form{
        flex-direction: column;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0%;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main);
        border-bottom: 2px solid var(--main);
        opacity: 0;
        transform: translateX(100%);
        pointer-events: none;
        transition: opacity 0.3s ease,
        transform 0.3s ease;
    }
    .navbar.active{
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        display: flex;
        flex-direction: column;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 1.5rem 0;
        color: white;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 56vw;
    }
    .skills h2{
        margin-bottom: 3rem;
    }
    .skills-container{
        grid-template-columns: repeat(1,1fr);
    }
}